.city-button.selected {
  background-color: rgb(255, 0, 0);
  color: white;
}
#city_buttons_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
}

.btn2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

main .button-container {
  text-align: center;
  margin-top: 20px;
}

.btn40 {

  border: none;                /* No border */
  padding: 10px 20px;          /* Padding */
  font-size: 16px;             /* Font size */
  border-radius: 5px;          /* Rounded corners */
  cursor: pointer;             /* Cursor on hover */
  transition: background-color 0.3s ease;
}

.btn40:hover {
  background-color: #9bbafd;   /* Darker red on hover */
}