
.hidden {
   display: none;
}

.error-msg {
   color: red;
}

table {
   margin-bottom: 15px;
}

table caption {
   font-weight: bold;
}

table td {
   text-align: center;
   padding: 3px 8px;
}

header > h1 {
	color: rgb(21, 21, 21);
	font-size : 30px;
	
}
header > img {
    float: left;
    margin: 0 0 10px 10px;
}

header em {
	font-size: 0.75em
}


html {
	background-color: light gray;
	font-family: Helvetica;
	font-size: 18px;
}



#buttons {
	width: 600px;
	height: 120px;
	margin: auto;
	margin-top: 10px;
}

.selector {
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	opacity: 0.6;
}

.selector:hover {
	opacity: 1;
}

#results {
	width: 300px;
	height: 180px;
	margin: auto;

}

#results div {
	float:left;
	height: 100px;
	width: 120px;
	margin: 10px 15px;
	text-align: center;
}

#results img {
	margin: 10px;
}

#prompt {
	text-align: center;
	font-size: 35px;
}



#instructions {
	display: inline-block;
	width: 400px;
	margin-left: 20px;
	font-size: 12px;
	background-color: white;
	border: solid grey 2px;
	border-radius: 8px;
	padding: 0px 5px 15px 15px;
}



#imgwrapper {
	display: block;
	width: 600px;
	height: 400px;
	margin: 40px auto;
	overflow:hidden;
}

#imgbox {
	display: block;
	margin: auto;
}
.clearfix {
    overflow: auto;
}


#fspan {
	float: right;
	font-family: verdana;
    font-size: 12px;
	color: orange;
}
.container1 {
	margin-left: 20px;
	font-size: 0.75em;
}



th {

  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}



table,
td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

th {
  
  text-align: center;
}



table  tr:nth-child(even) {
  background-color: #b3bdd0;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table  th {
  background-color: #333f5f;
  border-color:rgb(237, 238, 240);
  color: rgb(237, 238, 240);
  border: 1px solid rgb(237, 238, 240);
}
